<% provide(:title, "Our Lovely Users") %>

<% unless signed_in? %>
	<%= link_to "Join us!", signup_path, {class: "btn btn-lg btn-primary", role: "button", style: "width:100%"} %>
<% end %>
<h1>Our Lovely Users</h1>

<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>

<ul class="users">
	<%= render @users.order('users.created_at DESC') %>
</ul>

<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>